@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #D3EEEB;
    overflow: hidden;
}
/* #1E617B
#00A38C
#65C5B9
#D3EEEB
#FFFFFF */
.navigation{
    position: fixed;
    inset: 20px;
    background: #00A38C;
    width: 80px;
    border-left: 10px solid #00A38C;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    overflow: hidden;
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.navigation.active{
    width: 300px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.toggle{
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle::before{
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    background: #1E617B;
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.toggle::after{
    content: '';
    position: absolute;
    width: 26px;
    height: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    background: #1E617B;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.navigation.active .toggle::before{
    transform: translateY(0px) rotate(-405deg);
    -webkit-transform: translateY(0px) rotate(-405deg);
    -moz-transform: translateY(0px) rotate(-405deg);
    -ms-transform: translateY(0px) rotate(-405deg);
    -o-transform: translateY(0px) rotate(-405deg);
}

.navigation.active .toggle::after{
    transform: translateY(0px) rotate(225deg);
    -webkit-transform: translateY(0px) rotate(225deg);
    -moz-transform: translateY(0px) rotate(225deg);
    -ms-transform: translateY(0px) rotate(225deg);
    -o-transform: translateY(0px) rotate(225deg);
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    transition: background 0.1s ease, color 0.1s ease, width 0.1s ease, border-radius 0.1s ease;
    -webkit-transition: background 0.1s ease, color 0.1s ease, width 0.1s ease, border-radius 0.1s ease;
    -moz-transition: background 0.1s ease, color 0.1s ease, width 0.1s ease, border-radius 0.1s ease;
    -ms-transition: background 0.1s ease, color 0.1s ease, width 0.1s ease, border-radius 0.1s ease;
    -o-transition: background 0.1s ease, color 0.1s ease, width 0.1s ease, border-radius 0.1s ease;
}
.navigation ul li:hover{
    background: #fff;
    color: #1E617B;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:nth-child(1){
    top: 20px;
    margin-bottom: 40px;
    background: none;
}

.navigation ul li:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 0;
    /*Inicialmentealineadoalbordesuperior*/right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-bottom-right-radius: 20px;
    box-shadow: none;
    transition: top 0.1s ease, right 0.1s ease, width 0.1s ease, height 0.1s ease, border-radius 0.1s ease, box-shadow 0.1s ease;
    -webkit-transition: top 0.1s ease, right 0.1s ease, width 0.1s ease, height 0.1s ease, border-radius 0.1s ease, box-shadow 0.1s ease;
    -moz-transition: top 0.1s ease, right 0.1s ease, width 0.1s ease, height 0.1s ease, border-radius 0.1s ease, box-shadow 0.1s ease;
    -ms-transition: top 0.1s ease, right 0.1s ease, width 0.1s ease, height 0.1s ease, border-radius 0.1s ease, box-shadow 0.1s ease;
    -o-transition: top 0.1s ease, right 0.1s ease, width 0.1s ease, height 0.1s ease, border-radius 0.1s ease, box-shadow 0.1s ease;
}
.navigation ul li:not(:first-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    /*Inicialmentealineadoalbordeinferior*/right: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: none;
    transition: bottom 0.1s ease, right 0.1s ease, width 0.1s ease, height 0.1s ease, border-radius 0.1s ease, box-shadow 0.1s ease;
    -webkit-transition: bottom 0.1s ease, right 0.1s ease, width 0.1s ease, height 0.1s ease, border-radius 0.1s ease, box-shadow 0.1s ease;
    -moz-transition: bottom 0.1s ease, right 0.1s ease, width 0.1s ease, height 0.1s ease, border-radius 0.1s ease, box-shadow 0.1s ease;
    -ms-transition: bottom 0.1s ease, right 0.1s ease, width 0.1s ease, height 0.1s ease, border-radius 0.1s ease, box-shadow 0.1s ease;
    -o-transition: bottom 0.1s ease, right 0.1s ease, width 0.1s ease, height 0.1s ease, border-radius 0.1s ease, box-shadow 0.1s ease;
}

.navigation ul li:not(:first-child):hover::before {
    top: -20px; /* Se desplaza hacia arriba */
    box-shadow: 7.5px 7.5px 0 7.5px #fff; /* Aparece la sombra */
}
.navigation ul li:not(:first-child):hover::after {
    bottom: -20px; /* Se desplaza hacia abajo */
    box-shadow: 7.5px -7.5px 0 7.5px #fff; /* Aparece la sombra */
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.navigation ul li:hover:not(:first-child) a{
    color: #1E617B;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}

.navigation ul li a .icon ion-icon{
    font-size: 1.75em;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.content {
    margin-left: 120px;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    transition: margin-left 0.5s ease;
    padding: 35px;
    background-color: #fff;
    height: 93vh;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow-y: auto;
    -webkit-transition: margin-left 0.5s ease;
    -moz-transition: margin-left 0.5s ease;
    -ms-transition: margin-left 0.5s ease;
    -o-transition: margin-left 0.5s ease;
}

.navigation.active + .content {
    margin-left: 340px; /* Margin cuando el menú está expandido */
}